.search-box {
    position: relative;
    top: 12px;
}
#recipe-container {
    margin-top: 20px;
}

.recipe-container {
    position: relative;
    top: 12px;
}

li {
    text-align: left;
}

.history-card {
    position: relative;
    top: 200px;
    left: -500px;

}